h2 {
    text-align: center;
    font-size: 1.25em;
}

.column {
    padding: 20px;
}

.row {
    margin-bottom: 40px;
}

.desc {
    font-style: italic;
    font-size: 0.9em;
}

.buy {
    text-align: center;
}