:root {
    --medium: rgb(200, 200, 200);
}

a {
    text-decoration: none;
}
h1 {
    margin-bottom: 2em;
}

h2 {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h2::after {
    content: "";
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid var(--medium);
    height: 0.5em;
}

.links {
    margin-bottom: 2em;
}

.item {
    float: left;
    width: 50%;
    margin-bottom: 2em;
    padding: 0.5em;
}

.item p {
    margin-top: 0.5em;
}

.item img {
    margin-bottom: 1em;
}

.desc {
    font-style: italic;
    font-size: 0.9em;
    text-align: center;
}

.buy {
    text-align: center;
}

.pipe {
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: var(--medium);
}

img.product {
    margin-bottom: 3em;
}

@media only screen and (min-width: 600px) {

    .item {
        float: left;
        display: inline-block;
        width: 25%;
    }

    img.product {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        display: flex;
        width: 50%;
        justify-content: center;
    }

    .button a {
        text-align: center;
    }

}